<div>
  <h2>Chat</h2>
  <div>
    <label for="user">Userrrsrrsrsrsrrs:</label>
    <input type="text" [(ngModel)]="user" name="user" id="user">
  </div>
  <div>
    <label for="message">Message:</label>
    <input type="text" [(ngModel)]="message" name="message" id="message">
    <button (click)="sendMessage()">Send</button>
  </div>
  <hr>
  <ul>
    <li *ngFor="let msg of messages">{{ msg.user }}: {{ msg.message }}</li>
  </ul>
</div>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<router-outlet></router-outlet>
